AWSTemplateFormatVersion: '2010-09-09'
Description: "A stack for creating Elasticsearch service, and connecting it to a log stream"
Resources:
  JenkinsInstance:
    Type: "AWS::EC2::Instance"
    Properties:
      ImageId: "ami-e3e1f280"
      InstanceType: "t2.micro"
